Repository elba-security/elba-security, pull requests merged in 2024-06, with the labels that each got.

#272 feat(notion): auth flow & sync users
  apps/notion/.env.test
  apps/notion/.eslintrc.js
  apps/notion/.gitignore
  apps/notion/README.md
  apps/notion/drizzle/0000_aromatic_champions.sql
  apps/notion/drizzle/meta/0000_snapshot.json
  apps/notion/drizzle/meta/_journal.json
  apps/notion/next.config.js
  apps/notion/package.json
  apps/notion/sentry.client.config.ts
  apps/notion/sentry.edge.config.ts
  apps/notion/sentry.server.config.ts
  apps/notion/src/app/api/inngest/route.ts
  apps/notion/src/app/auth/route.ts
  apps/notion/src/app/auth/service.test.ts
  apps/notion/src/app/auth/service.ts
  apps/notion/src/app/install/route.ts
  apps/notion/src/app/layout.tsx
  apps/notion/src/app/page.tsx
  apps/notion/src/common/crypto.ts
  apps/notion/src/common/env.ts
  apps/notion/src/connectors/common/error.ts
  apps/notion/src/connectors/elba/client.ts
  apps/notion/src/connectors/notion/auth.test.ts
  apps/notion/src/connectors/notion/auth.ts
  apps/notion/src/connectors/notion/users.test.ts
  apps/notion/src/connectors/notion/users.ts
  apps/notion/src/database/client.ts
  apps/notion/src/database/schema.ts
  apps/notion/src/inngest/client.ts
  apps/notion/src/inngest/functions/index.ts
  apps/notion/src/inngest/functions/organisations/remove-organisation.test.ts
  apps/notion/src/inngest/functions/organisations/remove-organisation.ts
  apps/notion/src/inngest/functions/users/schedule-users-sync.test.ts
  apps/notion/src/inngest/functions/users/schedule-users-sync.ts
  apps/notion/src/inngest/functions/users/sync-users.test.ts
  apps/notion/src/inngest/functions/users/sync-users.ts
  apps/notion/src/inngest/middlewares/rate-limit-middleware.test.ts
  apps/notion/src/inngest/middlewares/rate-limit-middleware.ts
  apps/notion/src/inngest/middlewares/unauthorized-middleware.test.ts
  apps/notion/src/inngest/middlewares/unauthorized-middleware.ts
  apps/notion/src/middleware.ts
  apps/notion/tsconfig.json
  apps/notion/vercel.json
  apps/notion/vitest.config.mts
  pnpm-lock.yaml
Labels: ready to merge

#268 feat(segment): app install, sync users & delete user
  apps/segment/.env.test
  apps/segment/.eslintrc.js
  apps/segment/.gitignore
  apps/segment/README.md
  apps/segment/drizzle/0000_gorgeous_vermin.sql
  apps/segment/drizzle/meta/0000_snapshot.json
  apps/segment/drizzle/meta/_journal.json
  apps/segment/next.config.js
  apps/segment/package.json
  apps/segment/sentry.client.config.ts
  apps/segment/sentry.edge.config.ts
  apps/segment/sentry.server.config.ts
  apps/segment/src/app/api/inngest/route.ts
  apps/segment/src/app/api/webhooks/elba/users/delete-users/route.ts
  apps/segment/src/app/api/webhooks/elba/users/delete-users/service.test.ts
  apps/segment/src/app/api/webhooks/elba/users/delete-users/service.ts
  apps/segment/src/app/install/actions.tsx
  apps/segment/src/app/install/layout.tsx
  apps/segment/src/app/install/page.tsx
  apps/segment/src/app/install/service.test.ts
  apps/segment/src/app/install/service.ts
  apps/segment/src/app/layout.tsx
  apps/segment/src/app/page.tsx
  apps/segment/src/common/crypto.ts
  apps/segment/src/common/env.ts
  apps/segment/src/connectors/common/error.ts
  apps/segment/src/connectors/elba/client.ts
  apps/segment/src/connectors/segment/users.test.ts
  apps/segment/src/connectors/segment/users.ts
  apps/segment/src/database/client.ts
  apps/segment/src/database/schema.ts
  apps/segment/src/inngest/client.ts
  apps/segment/src/inngest/functions/index.ts
  apps/segment/src/inngest/functions/organisations/remove-organisation.test.ts
  apps/segment/src/inngest/functions/organisations/remove-organisation.ts
  apps/segment/src/inngest/functions/users/delete-user.test.ts
  apps/segment/src/inngest/functions/users/delete-user.ts
  apps/segment/src/inngest/functions/users/schedule-users-sync.test.ts
  apps/segment/src/inngest/functions/users/schedule-users-sync.ts
  apps/segment/src/inngest/functions/users/sync-users.test.ts
  apps/segment/src/inngest/functions/users/sync-users.ts
  apps/segment/src/inngest/middlewares/rate-limit-middleware.test.ts
  apps/segment/src/inngest/middlewares/rate-limit-middleware.ts
  apps/segment/src/inngest/middlewares/unauthorized-middleware.test.ts
  apps/segment/src/inngest/middlewares/unauthorized-middleware.ts
  apps/segment/src/middleware.ts
  apps/segment/tsconfig.json
  apps/segment/vercel.json
  apps/segment/vitest.config.mts
  pnpm-lock.yaml
Labels: ready to merge, support delete user

#261 feat(linear): auth flow, sync users & suspend user
  apps/linear/.env.test
  apps/linear/.eslintrc.js
  apps/linear/.gitignore
  apps/linear/README.md
  apps/linear/drizzle/0000_nasty_ghost_rider.sql
  apps/linear/drizzle/meta/0000_snapshot.json
  apps/linear/drizzle/meta/_journal.json
  apps/linear/next.config.js
  apps/linear/package.json
  apps/linear/sentry.client.config.ts
  apps/linear/sentry.edge.config.ts
  apps/linear/sentry.server.config.ts
  apps/linear/src/app/api/inngest/route.ts
  apps/linear/src/app/api/webhooks/elba/users/delete-users/route.ts
  apps/linear/src/app/api/webhooks/elba/users/delete-users/service.test.ts
  apps/linear/src/app/api/webhooks/elba/users/delete-users/service.ts
  apps/linear/src/app/auth/route.ts
  apps/linear/src/app/auth/service.test.ts
  apps/linear/src/app/auth/service.ts
  apps/linear/src/app/install/route.ts
  apps/linear/src/app/layout.tsx
  apps/linear/src/app/page.tsx
  apps/linear/src/common/crypto.ts
  apps/linear/src/common/env.ts
  apps/linear/src/connectors/common/error.ts
  apps/linear/src/connectors/elba/client.ts
  apps/linear/src/connectors/linear/auth.test.ts
  apps/linear/src/connectors/linear/auth.ts
  apps/linear/src/connectors/linear/users.test.ts
  apps/linear/src/connectors/linear/users.ts
  apps/linear/src/database/client.ts
  apps/linear/src/database/schema.ts
  apps/linear/src/inngest/client.ts
  apps/linear/src/inngest/functions/index.ts
  apps/linear/src/inngest/functions/organisations/remove-organisation.test.ts
  apps/linear/src/inngest/functions/organisations/remove-organisation.ts
  apps/linear/src/inngest/functions/users/delete-users.test.ts
  apps/linear/src/inngest/functions/users/delete-users.ts
  apps/linear/src/inngest/functions/users/schedule-users-sync.test.ts
  apps/linear/src/inngest/functions/users/schedule-users-sync.ts
  apps/linear/src/inngest/functions/users/sync-users.test.ts
  apps/linear/src/inngest/functions/users/sync-users.ts
  apps/linear/src/inngest/middlewares/rate-limit-middleware.test.ts
  apps/linear/src/inngest/middlewares/rate-limit-middleware.ts
  apps/linear/src/inngest/middlewares/unauthorized-middleware.test.ts
  apps/linear/src/inngest/middlewares/unauthorized-middleware.ts
  apps/linear/src/middleware.ts
  apps/linear/tsconfig.json
  apps/linear/vercel.json
  apps/linear/vitest.config.mts
  pnpm-lock.yaml
Labels: ready to merge, support delete user

#271 feat(jira): oauth flow, sync users & delete user
  apps/jira/.env.test
  apps/jira/.eslintrc.js
  apps/jira/.gitignore
  apps/jira/README.md
  apps/jira/drizzle/0000_big_sinister_six.sql
  apps/jira/drizzle/meta/0000_snapshot.json
  apps/jira/drizzle/meta/_journal.json
  apps/jira/next.config.js
  apps/jira/package.json
  apps/jira/sentry.client.config.ts
  apps/jira/sentry.edge.config.ts
  apps/jira/sentry.server.config.ts
  apps/jira/src/app/api/inngest/route.ts
  apps/jira/src/app/api/webhooks/elba/users/delete-users/route.ts
  apps/jira/src/app/api/webhooks/elba/users/delete-users/service.test.ts
  apps/jira/src/app/api/webhooks/elba/users/delete-users/service.ts
  apps/jira/src/app/install/actions.tsx
  apps/jira/src/app/install/layout.tsx
  apps/jira/src/app/install/page.tsx
  apps/jira/src/app/install/service.test.ts
  apps/jira/src/app/install/service.ts
  apps/jira/src/app/layout.tsx
  apps/jira/src/app/page.tsx
  apps/jira/src/common/crypto.ts
  apps/jira/src/common/env.ts
  apps/jira/src/connectors/common/error.ts
  apps/jira/src/connectors/elba/client.ts
  apps/jira/src/connectors/jira/users.test.ts
  apps/jira/src/connectors/jira/users.ts
  apps/jira/src/database/client.ts
  apps/jira/src/database/schema.ts
  apps/jira/src/inngest/client.ts
  apps/jira/src/inngest/functions/index.ts
  apps/jira/src/inngest/functions/organisations/remove-organisation.test.ts
  apps/jira/src/inngest/functions/organisations/remove-organisation.ts
  apps/jira/src/inngest/functions/users/delete-user.test.ts
  apps/jira/src/inngest/functions/users/delete-user.ts
  apps/jira/src/inngest/functions/users/schedule-users-sync.test.ts
  apps/jira/src/inngest/functions/users/schedule-users-sync.ts
  apps/jira/src/inngest/functions/users/sync-users.test.ts
  apps/jira/src/inngest/functions/users/sync-users.ts
  apps/jira/src/inngest/middlewares/rate-limit-middleware.test.ts
  apps/jira/src/inngest/middlewares/rate-limit-middleware.ts
  apps/jira/src/inngest/middlewares/unauthorized-middleware.test.ts
  apps/jira/src/inngest/middlewares/unauthorized-middleware.ts
  apps/jira/src/middleware.ts
  apps/jira/tsconfig.json
  apps/jira/vercel.json
  apps/jira/vitest.config.mts
  pnpm-lock.yaml
Labels: ready to merge, support delete user

#61 feat(asana): oauth flow, sync users & remove users from workspaces
  apps/asana/.env.test
  apps/asana/.eslintrc.js
  apps/asana/.gitignore
  apps/asana/README.md
  apps/asana/drizzle/0000_luxuriant_exiles.sql
  apps/asana/drizzle/meta/0000_snapshot.json
  apps/asana/drizzle/meta/_journal.json
  apps/asana/next.config.js
  apps/asana/package.json
  apps/asana/sentry.client.config.ts
  apps/asana/sentry.edge.config.ts
  apps/asana/sentry.server.config.ts
  apps/asana/src/app/api/inngest/route.ts
  apps/asana/src/app/api/webhooks/elba/users/delete-users/route.ts
  apps/asana/src/app/api/webhooks/elba/users/delete-users/service.test.ts
  apps/asana/src/app/api/webhooks/elba/users/delete-users/service.ts
  apps/asana/src/app/auth/route.ts
  apps/asana/src/app/auth/service.test.ts
  apps/asana/src/app/auth/service.ts
  apps/asana/src/app/install/route.ts
  apps/asana/src/app/layout.tsx
  apps/asana/src/app/page.tsx
  apps/asana/src/common/crypto.ts
  apps/asana/src/common/env.ts
  apps/asana/src/connectors/asana/auth.test.ts
  apps/asana/src/connectors/asana/auth.ts
  apps/asana/src/connectors/asana/users.test.ts
  apps/asana/src/connectors/asana/users.ts
  apps/asana/src/connectors/common/error.ts
  apps/asana/src/connectors/elba/client.ts
  apps/asana/src/database/client.ts
  apps/asana/src/database/schema.ts
  apps/asana/src/inngest/client.ts
  apps/asana/src/inngest/functions/index.ts
  apps/asana/src/inngest/functions/organisations/remove-organisation.test.ts
  apps/asana/src/inngest/functions/organisations/remove-organisation.ts
  apps/asana/src/inngest/functions/token/refresh-token.test.ts
  apps/asana/src/inngest/functions/token/refresh-token.ts
  apps/asana/src/inngest/functions/users/delete-users.test.ts
  apps/asana/src/inngest/functions/users/delete-users.ts
  apps/asana/src/inngest/functions/users/schedule-users-sync.test.ts
  apps/asana/src/inngest/functions/users/schedule-users-sync.ts
  apps/asana/src/inngest/functions/users/sync-users.test.ts
  apps/asana/src/inngest/functions/users/sync-users.ts
  apps/asana/src/inngest/middlewares/rate-limit-middleware.test.ts
  apps/asana/src/inngest/middlewares/rate-limit-middleware.ts
  apps/asana/src/inngest/middlewares/unauthorized-middleware.test.ts
  apps/asana/src/inngest/middlewares/unauthorized-middleware.ts
  apps/asana/src/middleware.ts
  apps/asana/tsconfig.json
  apps/asana/vercel.json
  apps/asana/vitest.config.mts
  pnpm-lock.yaml
Labels: ready to merge, support delete user

#216 feat(box): auth, sync users and delete user features
  apps/box/.env.test
  apps/box/.eslintrc.js
  apps/box/.gitignore
  apps/box/README.md
  apps/box/drizzle/0000_panoramic_stephen_strange.sql
  apps/box/drizzle/meta/0000_snapshot.json
  apps/box/drizzle/meta/_journal.json
  apps/box/next.config.js
  apps/box/package.json
  apps/box/sentry.client.config.ts
  apps/box/sentry.edge.config.ts
  apps/box/sentry.server.config.ts
  apps/box/src/app/api/inngest/route.ts
  apps/box/src/app/api/webhooks/elba/users/delete-users/route.ts
  apps/box/src/app/api/webhooks/elba/users/delete-users/service.test.ts
  apps/box/src/app/api/webhooks/elba/users/delete-users/service.ts
  apps/box/src/app/auth/route.ts
  apps/box/src/app/auth/service.test.ts
  apps/box/src/app/auth/service.ts
  apps/box/src/app/install/route.ts
  apps/box/src/app/layout.tsx
  apps/box/src/app/page.tsx
  apps/box/src/common/crypto.ts
  apps/box/src/common/env.ts
  apps/box/src/connectors/box/auth.test.ts
  apps/box/src/connectors/box/auth.ts
  apps/box/src/connectors/box/users.test.ts
  apps/box/src/connectors/box/users.ts
  apps/box/src/connectors/common/error.ts
  apps/box/src/connectors/elba/client.ts
  apps/box/src/database/client.ts
  apps/box/src/database/schema.ts
  apps/box/src/inngest/client.ts
  apps/box/src/inngest/functions/index.ts
  apps/box/src/inngest/functions/organisations/remove-organisation.test.ts
  apps/box/src/inngest/functions/organisations/remove-organisation.ts
  apps/box/src/inngest/functions/token/refresh-token.test.ts
  apps/box/src/inngest/functions/token/refresh-token.ts
  apps/box/src/inngest/functions/users/delete-user.test.ts
  apps/box/src/inngest/functions/users/delete-user.ts
  apps/box/src/inngest/functions/users/schedule-users-synchronize.test.ts
  apps/box/src/inngest/functions/users/schedule-users-synchronize.ts
  apps/box/src/inngest/functions/users/synchronize-users.test.ts
  apps/box/src/inngest/functions/users/synchronize-users.ts
  apps/box/src/inngest/middlewares/rate-limit-middleware.test.ts
  apps/box/src/inngest/middlewares/rate-limit-middleware.ts
  apps/box/src/inngest/middlewares/unauthorized-middleware.test.ts
  apps/box/src/inngest/middlewares/unauthorized-middleware.ts
  apps/box/src/middleware.ts
  apps/box/tsconfig.json
  apps/box/vercel.json
  apps/box/vitest.config.mts
  pnpm-lock.yaml
Labels: ready to merge, support delete user

#241 feat(fivetran): app install, sync users & delete user
  apps/fivetran/.env.test
  apps/fivetran/.eslintrc.js
  apps/fivetran/.gitignore
  apps/fivetran/README.md
  apps/fivetran/drizzle/0000_short_vapor.sql
  apps/fivetran/drizzle/meta/0000_snapshot.json
  apps/fivetran/drizzle/meta/_journal.json
  apps/fivetran/next.config.js
  apps/fivetran/package.json
  apps/fivetran/sentry.client.config.ts
  apps/fivetran/sentry.edge.config.ts
  apps/fivetran/sentry.server.config.ts
  apps/fivetran/src/app/api/inngest/route.ts
  apps/fivetran/src/app/api/webhooks/elba/users/delete-users/route.ts
  apps/fivetran/src/app/api/webhooks/elba/users/delete-users/service.test.ts
  apps/fivetran/src/app/api/webhooks/elba/users/delete-users/service.ts
  apps/fivetran/src/app/install/actions.tsx
  apps/fivetran/src/app/install/layout.tsx
  apps/fivetran/src/app/install/page.tsx
  apps/fivetran/src/app/install/service.test.ts
  apps/fivetran/src/app/install/service.ts
  apps/fivetran/src/app/layout.tsx
  apps/fivetran/src/app/page.tsx
  apps/fivetran/src/common/crypto.ts
  apps/fivetran/src/common/env.ts
  apps/fivetran/src/connectors/commons/error.ts
  apps/fivetran/src/connectors/elba/client.ts
  apps/fivetran/src/connectors/users.test.ts
  apps/fivetran/src/connectors/users.ts
  apps/fivetran/src/database/client.ts
  apps/fivetran/src/database/schema.ts
  apps/fivetran/src/inngest/client.ts
  apps/fivetran/src/inngest/functions/index.ts
  apps/fivetran/src/inngest/functions/organisations/remove-organisation.test.ts
  apps/fivetran/src/inngest/functions/organisations/remove-organisation.ts
  apps/fivetran/src/inngest/functions/users/delete-user.test.ts
  apps/fivetran/src/inngest/functions/users/delete-user.ts
  apps/fivetran/src/inngest/functions/users/schedule-users-sync.test.ts
  apps/fivetran/src/inngest/functions/users/schedule-users-sync.ts
  apps/fivetran/src/inngest/functions/users/sync-users.test.ts
  apps/fivetran/src/inngest/functions/users/sync-users.ts
  apps/fivetran/src/inngest/middlewares/rate-limit-middleware.test.ts
  apps/fivetran/src/inngest/middlewares/rate-limit-middleware.ts
  apps/fivetran/src/inngest/middlewares/unauthorized-middleware.test.ts
  apps/fivetran/src/inngest/middlewares/unauthorized-middleware.ts
  apps/fivetran/src/middleware.ts
  apps/fivetran/tsconfig.json
  apps/fivetran/vercel.json
  apps/fivetran/vitest.config.mts
  pnpm-lock.yaml
Labels: ready to merge, support delete user

#284 feat(datadog): authorization, list users & delete users
  apps/datadog/.env.test
  apps/datadog/.eslintrc.js
  apps/datadog/.gitignore
  apps/datadog/README.md
  apps/datadog/drizzle/0000_colorful_maestro.sql
  apps/datadog/drizzle/meta/0000_snapshot.json
  apps/datadog/drizzle/meta/_journal.json
  apps/datadog/next.config.js
  apps/datadog/package.json
  apps/datadog/sentry.client.config.ts
  apps/datadog/sentry.edge.config.ts
  apps/datadog/sentry.server.config.ts
  apps/datadog/src/app/api/inngest/route.ts
  apps/datadog/src/app/api/webhooks/elba/users/delete-users/route.ts
  apps/datadog/src/app/api/webhooks/elba/users/delete-users/service.test.ts
  apps/datadog/src/app/api/webhooks/elba/users/delete-users/service.ts
  apps/datadog/src/app/install/actions.tsx
  apps/datadog/src/app/install/layout.tsx
  apps/datadog/src/app/install/page.tsx
  apps/datadog/src/app/install/service.test.ts
  apps/datadog/src/app/install/service.ts
  apps/datadog/src/app/layout.tsx
  apps/datadog/src/app/page.tsx
  apps/datadog/src/common/crypto.ts
  apps/datadog/src/common/env.ts
  apps/datadog/src/connectors/common/error.ts
  apps/datadog/src/connectors/datadog/regions.ts
  apps/datadog/src/connectors/datadog/users.test.ts
  apps/datadog/src/connectors/datadog/users.ts
  apps/datadog/src/connectors/elba/client.ts
  apps/datadog/src/database/client.ts
  apps/datadog/src/database/schema.ts
  apps/datadog/src/inngest/client.ts
  apps/datadog/src/inngest/functions/index.ts
  apps/datadog/src/inngest/functions/organisations/remove-organisation.test.ts
  apps/datadog/src/inngest/functions/organisations/remove-organisation.ts
  apps/datadog/src/inngest/functions/users/delete-user.test.ts
  apps/datadog/src/inngest/functions/users/delete-user.ts
  apps/datadog/src/inngest/functions/users/schedule-users-sync.test.ts
  apps/datadog/src/inngest/functions/users/schedule-users-sync.ts
  apps/datadog/src/inngest/functions/users/sync-users.test.ts
  apps/datadog/src/inngest/functions/users/sync-users.ts
  apps/datadog/src/inngest/middlewares/rate-limit-middleware.test.ts
  apps/datadog/src/inngest/middlewares/rate-limit-middleware.ts
  apps/datadog/src/inngest/middlewares/unauthorized-middleware.test.ts
  apps/datadog/src/inngest/middlewares/unauthorized-middleware.ts
  apps/datadog/src/middleware.ts
  apps/datadog/tsconfig.json
  apps/datadog/vercel.json
  apps/datadog/vitest.config.mts
  pnpm-lock.yaml
Labels: ready to merge, support delete user

#234 feat(doppler): auth & user sync feature
  apps/doppler/.env.test
  apps/doppler/.eslintrc.js
  apps/doppler/.gitignore
  apps/doppler/README.md
  apps/doppler/drizzle/0000_polite_toro.sql
  apps/doppler/drizzle/meta/0000_snapshot.json
  apps/doppler/drizzle/meta/_journal.json
  apps/doppler/next.config.js
  apps/doppler/package.json
  apps/doppler/sentry.client.config.ts
  apps/doppler/sentry.edge.config.ts
  apps/doppler/sentry.server.config.ts
  apps/doppler/src/app/api/inngest/route.ts
  apps/doppler/src/app/install/actions.tsx
  apps/doppler/src/app/install/layout.tsx
  apps/doppler/src/app/install/page.tsx
  apps/doppler/src/app/install/service.test.ts
  apps/doppler/src/app/install/service.ts
  apps/doppler/src/app/layout.tsx
  apps/doppler/src/app/page.tsx
  apps/doppler/src/common/crypto.ts
  apps/doppler/src/common/env.ts
  apps/doppler/src/connectors/commons/error.ts
  apps/doppler/src/connectors/doppler/users.test.ts
  apps/doppler/src/connectors/doppler/users.ts
  apps/doppler/src/connectors/elba/client.ts
  apps/doppler/src/database/client.ts
  apps/doppler/src/database/schema.ts
  apps/doppler/src/inngest/client.ts
  apps/doppler/src/inngest/functions/index.ts
  apps/doppler/src/inngest/functions/organisations/remove-organisation.test.ts
  apps/doppler/src/inngest/functions/organisations/remove-organisation.ts
  apps/doppler/src/inngest/functions/users/schedule-users-sync.test.ts
  apps/doppler/src/inngest/functions/users/schedule-users-sync.ts
  apps/doppler/src/inngest/functions/users/sync-users.test.ts
  apps/doppler/src/inngest/functions/users/sync-users.ts
  apps/doppler/src/inngest/middlewares/rate-limit-middleware.test.ts
  apps/doppler/src/inngest/middlewares/rate-limit-middleware.ts
  apps/doppler/src/inngest/middlewares/unauthorized-middleware.test.ts
  apps/doppler/src/inngest/middlewares/unauthorized-middleware.ts
  apps/doppler/src/middleware.ts
  apps/doppler/tsconfig.json
  apps/doppler/vitest.config.mts
  pnpm-lock.yaml
Labels: ready to merge

#240 feat(openai): add install & users sync & delete user
  apps/openai/.env.test
  apps/openai/.eslintrc.js
  apps/openai/.gitignore
  apps/openai/README.md
  apps/openai/drizzle/0000_slow_umar.sql
  apps/openai/drizzle/meta/0000_snapshot.json
  apps/openai/drizzle/meta/_journal.json
  apps/openai/next.config.js
  apps/openai/package.json
  apps/openai/sentry.client.config.ts
  apps/openai/sentry.edge.config.ts
  apps/openai/sentry.server.config.ts
  apps/openai/src/app/api/inngest/route.ts
  apps/openai/src/app/api/webhooks/elba/users/delete-users/route.ts
  apps/openai/src/app/api/webhooks/elba/users/delete-users/service.test.ts
  apps/openai/src/app/api/webhooks/elba/users/delete-users/service.ts
  apps/openai/src/app/install/actions.ts
  apps/openai/src/app/install/layout.tsx
  apps/openai/src/app/install/page.tsx
  apps/openai/src/app/install/service.test.ts
  apps/openai/src/app/install/service.ts
  apps/openai/src/app/layout.tsx
  apps/openai/src/app/page.tsx
  apps/openai/src/common/crypto.ts
  apps/openai/src/common/env.ts
  apps/openai/src/connectors/common/error.ts
  apps/openai/src/connectors/elba/client.ts
  apps/openai/src/connectors/openai/users.test.ts
  apps/openai/src/connectors/openai/users.ts
  apps/openai/src/database/client.ts
  apps/openai/src/database/schema.ts
  apps/openai/src/inngest/client.ts
  apps/openai/src/inngest/functions/index.ts
  apps/openai/src/inngest/functions/organisations/remove-organisation.test.ts
  apps/openai/src/inngest/functions/organisations/remove-organisation.ts
  apps/openai/src/inngest/functions/users/delete-user.test.ts
  apps/openai/src/inngest/functions/users/delete-user.ts
  apps/openai/src/inngest/functions/users/schedule-users-syncs.test.ts
  apps/openai/src/inngest/functions/users/schedule-users-syncs.ts
  apps/openai/src/inngest/functions/users/sync-users.test.ts
  apps/openai/src/inngest/functions/users/sync-users.ts
  apps/openai/src/inngest/middlewares/rate-limit-middleware.test.ts
  apps/openai/src/inngest/middlewares/rate-limit-middleware.ts
  apps/openai/src/inngest/middlewares/unauthorized-middleware.test.ts
  apps/openai/src/inngest/middlewares/unauthorized-middleware.ts
  apps/openai/src/middleware.ts
  apps/openai/tsconfig.json
  apps/openai/vercel.json
  apps/openai/vitest.config.mts
  packages/design-system/src/styles.css
  pnpm-lock.yaml
Labels: stage three, support delete user
